<nav class="app-navbar">
    <div class="row align-items-center header-set p-2 m-0">
        <div class="col text-left">
            <svg-icon id="menuIcon" class="menu-icon" src="/assets/images/menu.svg"></svg-icon>
        </div>
        <div [routerLink]="['']" routerLinkActive="router-link-active"  class="col text-center">
            <svg-icon class="home-icon" src="/assets/images/climbstaff-text-white.svg"></svg-icon>
        </div>
        <div class="col text-right"></div>
    </div>
</nav>
