
  <div (click)="goBack()" class="mt-1">
  <i class="material-icons text-secondary align-bottom">keyboard_arrow_left</i><span
    class="font-weight-bold">Back</span>
  </div>

<div class="card mt-1 mx-1">
    <div class="card-title bg-dark p-3 mb-2 text-light d-flex">
    <div class="m-0 flex-grow-1">Recent Entry</div>
    <i class="align-bottom material-icons">money</i></div>
    <div class="card-body">
        <span class="pr-1">Employee: </span>
        <div class="d-inline font-weight-bold">{{ empName }}</div><br>
        <span class="pr-1">Description: </span>
        <div class="d-inline font-weight-bold">{{ description }}</div><br>
        <span class="pr-1">Amount: </span>
        <div class="d-inline font-weight-bold text-success">{{ amount }} Rs.</div><br>
        <span class="pr-1">Account Date: </span>
        <div class="d-inline font-weight-bold">{{ accountDate }}</div>
        <hr>
        <div class="note">
          <p class="font-weight-bold">Notes on this account note</p>
          <hr>
          <div *ngFor="let note of notes;">
            <p class="font-italic font-weight-light">{{ note.note }}<span class="text-secondary small"> -
                {{ note.note_date }}</span>
            </p>
          </div>
          <div *ngIf='notes.length === 0'>No Results</div>

        </div>

    </div>
  </div>
