<agm-map data-snap-ignore="true" class="map" [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="
    {
      url: './assets/images/businessman.png'
      }"></agm-marker>
</agm-map>

<div class="card my-3 mx-1">
  <div class="card-title bg-dark p-3 mb-2 text-light d-flex">
    <div class="m-0 flex-grow-1">{{ name }}</div>
    <i class="align-bottom material-icons">call</i>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Designation :</div>
      <div class="font-weight-bold">{{ designation }}</div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">City :</div>
      <div class="font-weight-bold">{{ city }}</div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">State :</div>
      <div class="font-weight-bold">{{ state }}</div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Status :</div>
      <div class="font-weight-bold">
        <div class="sm-circle {{ status | lowercase }}-border mr-2"></div>{{ status }}
      </div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Location :</div>
      <div class="font-weight-bold">
        <div class="align-bottom material-icons mr-2" (click)="bindAddress({address:geohash})">my_location</div>
        <div [style.visibility]="(numberOfUnreadAlerts == 0) ? 'hidden' : 'visible' ">Get Live Location</div>
        <div>{{address}}</div>
      </div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Today's Distance :</div>
      <div class="font-weight-bold">{{ todaysDistance }}</div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Last Active :</div>
      <div class="font-weight-bold">{{ lastActive }}</div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Weekly Distance :</div>
      <div class="font-weight-bold">{{ weekDistance }}</div>
    </div>

  </div>
</div>

<div class="card my-3 mx-1">
  <div class="card-title bg-dark p-3 mb-2 text-light d-flex">
    <div class="m-0 flex-grow-1">Mobile Status</div>
    <i class="align-bottom material-icons">phone_android</i>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Battery :</div>
      <div class="font-weight-bold">{{ battery }} %</div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Signal Strength :</div>
      <div class="font-weight-bold">{{ signalStrength }}</div>
    </div>

    <div class="d-flex align-items-center my-1">
      <div class="text-dark flex-grow-1">Signal Accuracy :</div>
      <div class="font-weight-bold">{{ signalAccuracy }} mts</div>
    </div>
  </div>
</div>
